* {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}


.dataNumbers {
    margin: 2px;
    display: grid !important;
    text-align: left;
}

.topLeft {
    position: absolute;
    top: 2em;
    left: 2em;
}


